/* TODO: bring top icon more in line with design */

/* TODO: at width 375px stars running out of their container */

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Variables */
:root {
  --color-header-img: #f5c044;
  --color-primary: #18181b;
  --color-secondary: #52525a;
  --bg-color-primary: #fafaf9;
  --bg-color-secondary: #fff;
  --bg-surrounding: #d4d4d8;
  --shadow-color: #1117292b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-header-img: #f5c044;
    --color-primary: #fafaf9;
    --color-secondary: #fff;
    --bg-color-primary: #18181b;
    --bg-color-secondary: #52525a;
    --bg-surrounding: #52525a;
    --shadow-color: #52525a4a;
  }
}

/*  Mobile <= 640px */

/* Element Styling */
html,
body {
  width: 100%;
}

body {
  background: var(--bg-surrounding);
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: var(--bg-color-primary);
  padding: 5rem 1.4rem;
  width: 100%;
  height: 100%;
  color: var(--color-primary);
}

/* Classes */
.reviewers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.reviewers-header {
  font-style: normal;
  font-weight: 600;
  font-size: 2.25rem;
  font-family: Sora, sans-serif;
  font-optical-sizing: auto;
}

.reviewers-header-img {
  mix-blend-mode: color-dodge;
  width: 2.2rem;
}

.reviewers-header-img-container {
  border-radius: 50%;
  background: var(--color-header-img);
  padding: 0.6rem;
  width: max-content;
}

.reviewers-body {
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  font-family: Sora, sans-serif;
  font-optical-sizing: auto;
}

.reviewers-list {
  padding-left: 1rem;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  font-family: Sora, sans-serif;
  font-optical-sizing: auto;
  list-style: none;
}

.reviewers-list-item {
  display: flex;
  align-items: center;
}

.reviewers-list-item::before {
  position: relative;
  top: 0.1rem;
  left: -0.5rem;
  content: url("/img/Done_ring_round_fill.svg");
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 30px 200px 0 var(--shadow-color);
  border-radius: 15px;
  padding: 1.4rem;
  width: 60%;
  min-width: 240px;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  font-family: Sora, sans-serif;
  font-optical-sizing: auto;
}

.card h2 {
  font-weight: 600;
  font-size: 1rem;
}

.card-header {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.card-header-icon {
  width: 38%;
}

.card-header-stars {
  display: flex;
  gap: 0.1rem;
  width: 38%;
}

.card-header-star {
  width: 20%;
}

.google {
  place-self: flex-end;
}

@media (width >= 640px) {
  /* Elements */
  html,
  body {
    height: 100%;
  }

  main {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    gap: 2rem;
    padding: 0 5%;
    width: 90%;
    height: 90%;
  }

  /* Classes */
}
